* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
html{
    font-size: 15px;
}
body {
 background: #66D1FF;/*linear-gradient(rgb(18, 18, 82), rgb(184, 184, 184)); */;
 color:black;
 -webkit-font-smoothing: antialiased;
}

body, input, button {
 
 font-family:Poppins ;
}

button {
 cursor: pointer;
}
@font-face {
    font-family:Poppins;
    src: url(../fonts/Poppins.ttf);
}
:root{
    --font-primary:Poppins;
}

.input{
    margin-top: 10rem;
}
.control{
    margin-bottom: 2rem;
}